@import '../../../resources/variables.scss';

.breadcrumb {
  margin: 16px 0 24px 0;
  a {
    font-size: 1rem;
    line-height: 1.25rem;
    color: #CCCCCC;
    text-decoration: none;

     &:hover {
      color: #3A80BA;
    }
  }
  @media (max-width: $md-screen) {
    margin: .8vw 0 1.3vw 0;
  }
}
